
*{
    margin: 0;
    padding: 0;
}

html,body {
    font-family: "Lucida Sans", sans-serif;
    background-color: #FFFFFF;
  }

/* logo */
.navbar-brand{
  margin-left: 0%;
  padding: 2%;
}

.nav-item{
  margin-left: 20px;
}
.menu a:hover{
  color: orange;
}

/* modal */
.modal-header{
  background-color: whitesmoke;
}

.modal-body{
  text-align: center;
  background-color: white;
}

.modal-footer{
  background-color: whitesmoke;
}

/* connection status */
.status{
  float: right;
  position: relative;
  top: 25%;
  left: 175%;
}

/* container */
.container{
  position: relative;
  right: 80px;
  top: 10px;
  text-align: left;
}
